<div class="hotelContainer col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="hotelTitle">{{hotel.name}}</div>

	<div class="hotelLocation">
		<label class="glyphicon glyphicon-map-marker"></label> <b>Country</b>:
		{{hotel.country}}, <b>City</b>: {{hotel.city}}, <b>State</b>:
		{{hotel.state}}
	</div>

	<div class="hotelType">
		<label class="glyphicon glyphicon-home"></label> Type:
		{{hotel.roomType}}
	</div>

	<div class="hotelScore">
		<label class="glyphicon glyphicon-star"></label> Review score: <span
			class="badge">{{hotel.reviewScore}}</span> Review count: <span
			class="badge">{{hotel.reviewCount}}</span>
	</div>
	<br>

	<div class="dropdown hotelFacilitiesDrop">
		<button class="btn btn-danger dropdown-toggle" type="button"
			data-toggle="dropdown">
			<span class="glyphicon glyphicon-tower"></span> Hotel facilities <span
				class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li class="roomFacility" ng-repeat="facility in hotel.facilities">
				<label class="glyphicon glyphicon-ok"></label> {{facility}}
			</li>
		</ul>
	</div>

	<div class="dropdown hotelFacilitiesDrop">
		<button class="btn btn-info dropdown-toggle" type="button"
			data-toggle="dropdown">
			<span class="glyphicon glyphicon-phone-alt"></span> Room facilities <span
				class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li class="roomFacility" ng-repeat="facility in hotel.roomFacilities"><label
				class="glyphicon glyphicon-ok"></label> {{facility}}</li>
		</ul>
	</div>

</div>


