<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet" href="/styles/main.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="/scripts/main.js"></script>
<script src="/scripts/directives/hotelDirective.js"></script>
<script src="/scripts/services/facetingService.js"></script>
<script src="/scripts/services/hotelsService.js"></script>
<script src="/scripts/services/simpleSearchService.js"></script>
<script src="/scripts/controllers/controller.js"></script>


<title>Hotel Index</title>
</head>
<body ng-app="hotelApp" ng-controller="appController">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Indian hotels searcher</a>
			</div>
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="fastName"
						placeholder="Fast search by name">
				</div>
				<div class="btn btn-danger" ng-click="nameSearch()">Search</div>
			</form>
		</div>
	</nav>
	<div class="container" id="searchContainer">
		<div class="row">
			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>

			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
				<div class="panel panel-default" id="searchPanel">
					<div class="panel-heading">Search your hotel!</div>
					<div class="panel-body">

						<div class="form-group">
							<input type="text" placeholder="Hotel name ..." ng-model="name"
								class="form-control" />
						</div>

						<div class="form-group">
							<label for="byCountry">By country: </label> <select
								ng-model="countryOptions.selectedOption" class="form-control"
								id="byCountry"
								ng-options="option.show for option in countryOptions.options track by option.value">
							</select>
						</div>

						<div class="form-group">
							<label for="byCity">By city: </label> <select
								ng-model="cityOptions.selectedOption" class="form-control"
								id="byCity"
								ng-options="option.show for option in cityOptions.options track by option.value">
							</select>
						</div>

						<div class="form-group">
							<label for="byRoomType">By room type: </label> <select
								ng-model="roomTypeOptions.selectedOption" class="form-control"
								id="byRoomType"
								ng-options="option.show for option in roomTypeOptions.options track by option.value">
							</select>
						</div>

						<div class="form-group">
							<label for="byRoomFacilities">By room facilities: </label> <select
								ng-model="roomFacilitiesOptions.selectedOption"
								class="form-control" id="byRoomFacilities"
								ng-options="option.show for option in roomFacilitiesOptions.options track by option.value">
							</select>
						</div>

						<div class="btn btn-danger" ng-click="search()">Search!</div>

					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="alert alert-success" id="alertHotelsFound">We have
					found {{totalHotels}} hotels for you!</div>
				<div class="alert alert-danger" id="alertHotelsNotFound">No
					hotels found!</div>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<hotel ng-repeat="hotel in hotels" hotel="hotel"></hotel>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="numPages > 0" class="container" id="paginationContainer">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="pageSelector" ng-click="changePage(page)"
					ng-repeat="page in pages">{{page}}</div>
			</div>
		</div>
	</div>
</body>
</html>