@CHARSET "ISO-8859-1";

body {
	background-image: url('/images/travel.gif');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}

.hotelContainer {
	float: left;
	min-height: 180px;
	border: 1px solid whitesmoke;
	padding: 5px;
	margin-top: 2px;
	margin-botton: 2px;
	cursor: pointer;
	background: #FFFFFF;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition: all 0.3s;
}

.hotelContainer:hover {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	z-index: 99;
	border: 1px solid #674848;
}

.hotelTitle {
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 15px;
}

.hotelFacility, .roomFacility {
	margin: 1px;
}

.hotelFacilitiesDrop {
	float: left;
	margin: 2px;
}

.pageSelector {
	float: left;
	font-weight: bolder;
	color: white;
	text-shadow: 1px 1px black;
	margin: 3px;
	cursor: pointer;
	padding: 2px;
}

#paginationContainer {
	margin: 10px;
}

.pageSelector:hover {
	color: black;
	text-shadow: 1px 1px black;
}